:root {
    --accent-color: #2196F3;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --second-color: #FFFFFF;
    --main-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}
body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;

    color: var(--main-title-color);
    background-color: var(--main-background-color);
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.btn {
    font-family: inherit;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*------------------------HEADER-----------------------------*/
.header {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        
        color: var(--accent-color);
}
.logo-header {
    color: var(--main-title-color);
}
.header-link {
    color: var(--main-title-color);
}
.header-link:hover, .header-link:focus {
    color: var(--accent-color);
}
.header-contacts-link {
        color: var(--main-text-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}
.active-page {
    color: var(--accent-color);
}

/*------------------------HERO-----------------------------*/
.hero {
    background-color: var(--second-background-color);
    letter-spacing: 0.06em;
    color: var(--second-color);
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;    
        text-transform: uppercase;
           
        color: var(--second-color);
    
       
}
.hero-btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        
        background-color: var(--accent-color);
        color: var(--second-color);
}

/*------------------------BENEFITS-----------------------------*/
.benefits {
    font-size: 14px;
}
.benefits-subtitle {
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-text {
        line-height: 1.71;
    
        color: var(--main-text-color);
}

/*------------------------BENEFITS-----------------------------*/
.work-title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

/*------------------------TEAM-----------------------------*/
.team {
    font-size: 16px;

    background-color: var(--third-background-color);
}
.team-title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}
.team-item {
    background-color: var(--main-background-color);
}
.team-list-subtitle {
        font-weight: 500;
        line-height: 1.19;
        text-align: center;
}
.team-list-text {
        line-height: 1.19;
        text-align: center;

        color: var(--main-text-color);
}

/*------------------------FOOTER-----------------------------*/
.footer {
    background-color: var(--second-background-color);
}
.logo-footer {
    color: var(--second-color);
}
.footer-item {
    font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        
        color: #FFFFFF;
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}


/*------------------------PORTFOLIO-----------------------------*/
.filters-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    background-color: var(--third-background-color);
}
.filters-btn:hover, .filters-btn:focus {
    background-color: var(--accent-color);
    color: var(--second-color);
}
.galary-title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.galary-text {
        font-size: 16px;
        line-height: 1.88;

        color: var(--main-text-color);
}